///
/// Prototype by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			position: relative;
			margin: 0 0 _size(element-margin) 0;
		}

		&.major {
			text-align: center;
			margin: 0 0 (_size(element-margin) * 1.5) 0;

			> :last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint('<=medium') {
			br {
				display: none;
			}
		}

		@include breakpoint('<=small') {
			&.major {
				margin: 0 0 _size(element-margin) 0;
			}
		}
	}

	footer {
		&.major {
			text-align: center;
			margin: (_size(element-margin) * 1.5) 0 _size(element-margin) 0;

			> :last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint('<=small') {
			&.major {
				margin: _size(element-margin) 0 _size(element-margin) 0;
			}
		}
	}