///
/// Prototype by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Menu */

	#menu {
		@include vendor('transform', 'translateX(20em)');
		@include vendor('transition', ('transform #{_duration(nav)} ease', 'box-shadow #{_duration(nav)} ease', 'visibility #{_duration(nav)}'));
		-webkit-overflow-scrolling: touch;
		background: _palette(bg);
		border-left: solid 1px _palette(border);
		box-shadow: none;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: _misc(z-index-base) + 2;

		> ul {
			margin: 0 0 (_size(element-margin) * 0.5) 0;

			&.links {
				list-style: none;
				padding: 0;

				> li {
					padding: 0;

					> a:not(.button) {
						border: 0;
						border-top: solid 1px _palette(border);
						color: inherit;
						display: block;
						letter-spacing: _size(letter-spacing-alt);
						line-height: 3.5em;
						text-decoration: none;
					}

					> .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					&:first-child {
						> a:not(.button) {
							border-top: 0 !important;
						}
					}
				}
			}
		}

		.close {
			background-image: url('images/close.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top right;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			border: 0;
			color: _palette(fg-light);
			cursor: pointer;
			display: block;
			height: 3.5em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 6em;

			&:before {
				font-size: 1.25em;
			}

			&:hover {
				color: _palette(fg-bold);
			}

			@include breakpoint('<=small') {
				height: 4em;
				line-height: 4em;
			}
		}

		&.visible {
			@include vendor('transform', 'translateX(0)');
			box-shadow: 0 0 2em 0 rgba(0,0,0,0.05);
			visibility: visible;
		}

		@include breakpoint('<=small') {
			padding: 2.5em 1.75em;

			.close {
				background-size: 50%;
			}
		}
	}